html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: 'flex';
  flex: 1;
  background-color: whitesmoke;
}

button:hover,
.clickable-list-item {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input {
  border: none;
}

input:focus,
button:focus {
  outline: none;
}

button {
  border: none;
  background: none;
}

p {
  margin: 0;
  line-height: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.header-tabs:hover {
  background-color: deeppink;
}

.navlink:hover {
  background-color: pink;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-rounded-corners {
  border: 1px solid#BEBEBE;
  height: 320px;
  width: 575px;
}

.ck.ck-toolbar.ck-rounded-corners {
  width: 100%;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-rounded-corners {
  border: 1px solid#BEBEBE;
  height: 320px;
  width: 100%;
}

.ck.ck-toolbar.ck-rounded-corners {
  width: 100%;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-rounded-corners {
  border: 1px solid#BEBEBE;
  height: 320px;
  width: 100%;
  margin-bottom: 30px;
}

.ck.ck-toolbar.ck-rounded-corners {
  margin-top: 30px;
  width: 96.9%;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-rounded-corners {
  border: 1px solid#BEBEBE;
  height: 420px;
  width: 96.9%;
}

.ck.ck-toolbar.ck-rounded-corners {
  width: 100%;
}

.navbar{
  box-shadow: none !important;
}

.cursor-pointer{
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  #sideBar{
    width: 100vw !important;
    left: 0 !important;
  }
}

@media only screen and (max-width: 768px) {
  .header-nav{
    padding: 1.5em !important;
  }
  #profile-lg{
    display: none !important;
  }
  #sideBar{
    width: 50vw;
  }
}

@media only screen and (min-width: 1300px) {
  #sideBar{
    width: 27vw;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px){
  #sideBar{
    width: 50vw !important;
  }
}

@media only screen and (max-width: 1214px) and (min-width: 1025px){
  #sideBar{
    width: 30vw !important;
  }
}

@media only screen and (min-width: 768px) {
  .header-nav{
    padding: 3em 4em !important;
  }
}

@media only screen and (min-width: 1000px) {
  .header-nav{
    padding: 1.5em 7.5em !important;
  }
}

@media only screen and (max-width: 400px) {
  #sideBar{
    padding: 2.5em 2em !important;
  }
}

#bars{
  transition: all .2s ease-in-out;
  color: #fff;
  cursor: pointer;
}

#bars:hover{
  color: #8ec63f !important;
  transform: scale(1.2);
}

a.sideBarLink:hover{
  border-left: 2px solid #8ec63f;
  padding-left: .7em;
}

#sideBar{
  z-index: 9999999;
} 

.active-tab hr{
  border-bottom: 1.5px solid #8ec63f;
}

ul.md-tabs{
  border-bottom: solid .7px #ffffff2e;
  padding-bottom: 5px;
  position: relative;
  bottom: 1em
}

.tab-content.card {
    margin-top: 1em;
}

ul.md-tabs > li{
  padding-left: 1em;
  padding-right: 1em;
  text-transform: uppercase !important;
}

ul.md-tabs > li a{
  font-size: .8em;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
}

ul.md-tabs > li hr{
  width: 20px;
  position: relative;
  top:6px;
  margin: auto;
}